*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "Titulo";
    src: url(../fonts/titulos.otf);
    font-family: "Texto";
    src:url(../fonts/Texto.otf)
}

.article-centrado{
    justify-content: center;
    width: 100%;
}

.fondo-imagen{
    background-image: url(../imagenes/04_Bg.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
.fondo-negro{
    background-color: black;
    
}
.texto-blanco-fondo-negro{
    font-family: "Texto";
    color: white;
    background-color: black;
    opacity: 0.75;
    font-size: 35px;
    margin-bottom: 10px;  
    padding: 10px;
    margin-top: 15px;
}
.lista-horizontal{
    display:inline;
    color: white;
    font-size: 35px;
    margin: -2px;
}
li a{
    font-family: "Texto";
    background-color: black;
    color:white;
    font-size: 35px;
    padding: 2px;
    border:2cm;
    text-decoration: underline black;
}
.img-copa {
    margin-left: 24px;
    width:600px;
    height: 600px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.img-evermet{
    width:450px;
    height: 175px;
    background-color: black;
}
.Flexible{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    width: auto;
    height: auto;
} 

div article p {
    width: 100%;
}
.imagenes-carril{
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    opacity: 100%;
}
.texto-blanco-fondo-negro-letra-chica{
    font-family: "Texto";
    color: white;
    background-color: black;
    opacity: 100;
    font-size: 25px;
  
}
.boton-negro{
    font-family: "Texto";
    color: white;
    background-color: black;
    font-size: 35px;
    width: auto;
    height: auto;
    opacity: 100;
    margin-bottom: 40px;
}
.imagen-tienda{
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
    height: 50%;
    margin-bottom: 10px;
    opacity: 100%;
}
nav{
    position: sticky;
    Top: 0px;
    z-index: 1000;
}
.grid-conteiner-tienda{
    display:grid;
    grid-template-columns: repeat(2,3fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    grid-area: "camiseta";
    grid-area: "canguro";
    grid-area: "gorro";
    grid-area: "tapabocas";
    grid-area: "footer";
    grid-template-areas:
    "camiseta, canguro"
    "gorro, tapabocas"
    "footer, footer";
}
.footer{
    align-items: end;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    position: inherit;
}

.center-caroucel{
    align-items: center;
}
.img-evermeet-nosotros{
    width:350px;
     height:350px;
}
@media (max-width: 768px){
.img-evermet{
    width:225px;
    height: 85px;
}
.grid-conteiner-tienda{
    display:grid;
    grid-template-columns: repeat(1,5fr);
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    grid-area: "camiseta";
    grid-area: "canguro";
    grid-area: "gorro";
    grid-area: "tapabocas";
    grid-area: "footer";
    grid-template-areas:
    "camiseta"
    "canguro"
    "gorro"
    "tapabocas"
    "footer";
}
.Flexible{
    margin-bottom: 20px;
    width: auto;
    height: auto;
} 
}
@media (min-height: 900px){
    .imagenes-carril{
        margin-left: 15px;
        margin-right: 15px;
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
        opacity: 100%;
    } 
    .img-evermeet-nosotros{
        width: 450px;
         height:450px;
    }
}