@import "./colores.scss";
.fondo-imagen{
        background-image: url(../imagenes/04_Bg.jpg);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
}
.fondo-negro{
    background-color: $color-primario;
}
